<div class= "row">
  <h3>Edit Workout</h3>
    <%= render partial: 'form_nutri', locals: {user: @user, nutrition_plan: @nutrition_plan} %>
</div>



<script>
  $("#nutrition_plan_meal_plan").jqte();
</script>