
  $("#goal-<%= @goal.id %> #complete").text('Done!')
    
    //var complete = $('<p id="complete">Complete</p>');
   //$(this).closest('#goal-button').append(complete);
   //$(this).remove(); 

  currentValue = $('#progressbar').progressbar("value")

  denominator = $(".js-goals-count").text().match(/\d+/g)[0]


  // window.debug(currentValue)
  $('#progressbar').progressbar({
      value: currentValue + ((1/denominator) * 100)
      // tried @goal_list.goals.count/$('.js-goals-count')lets get this working 
      // multiple forms of each 
  });  